/*body--------------------------------------------*/
body{
    background-color:beige;
}

.titulos-imgs{
margin: 2px;
    font-size: 40px;
}

.video-yt{
    text-align: center;
}


/*footer----------------------------------------------*/
footer {
text-align: center;
font-size: medium;
padding: 0px;
background-color:blue;
color: white;
position:static;
width: 100%;
bottom: 0;
}
/*nav superior--------------------------------------------*/
nav{
background-color: rgb(236, 227, 173);

}
/*H--------------------------------------------*/
.h1-titulo{
background-color: blueviolet;
font-size: 60px;
text-align: center;
margin: 5px;
}

.h2-titulo{
    background-color: bisque;
    text-align: center;
    margin: 2px;
}
/*ul--------------------------------------------*/
ul{
padding: 0px;
margin: 0px;

}
/*articulos--------------------------------------------*/
.articulo1{

    text-align: center;
}

.articulo2{

    text-align: center;
}

.articulo3{

    text-align: center;
}

.mejores-ofertas{
text-align: center;

}

/*nav inferior--------------------------------------------*/
.nav_footer{
background-color: rgb(138, 138, 182);
margin-top: 4px;
font-size: 20px;
}
/*p derechos de autor--------------------------------------------*/
.derechos{
    margin: 0px;
    background-color: beige;
    font-size: 15px;
    text-align: center
    ;
}

h3{color: rgb(8, 196, 202);}
h4{color: rgb(6, 150, 37);}